<div class="scoreboard">
  <h1>Contributors</h1>

  <% @contributors.each_with_index do |contributor, index| %>
    <div class="contributor">
      <span class="rank"><%= index + 1 %></span>
      <span class="handle"><%= contributor.handle %></span>
      <span class="score"><%= contributor.score.to_i %></span>
    </div>
  <% end %>
</div>
