@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

$background-color: #e0e0e0;
$contributor-background: #fff;
$base-border-color: #444;

body {
  background-color: $background-color;
}

.scoreboard {
  @include outer-container;
}

.contributor {
  @include span-columns(6 of 12);
  background-color: $contributor-background;
  border: 1px solid $base-border-color;
  overflow: hidden;
  padding: $gutter;
}

.rank {
  @include span-columns(1 of 6);
}

.handle {
  @include span-columns(3 of 6);
  font-weight: bold;
}

.score {
  @include span-columns(2 of 6);
  text-align: right;
}
