@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

body {
  background-color: $secondary-background-color;
}

.content {
  @include outer-container;
}

.header {
  margin-bottom: $base-spacing;
  background-color: #202020;
  padding: $small-spacing;
  text-align: right;

  a {
    color: #fefefe;
  }

  &-wrapper {
    @include outer-container;
  }
}

.scoreboard {
  @include span-columns(8 of 12);
}

.repo-stats {
  @include span-columns(4 of 12);
}

.contributor {
  background-color: $base-background-color;
  border: 1px solid $base-border-color;
  clear: both;
  overflow: hidden;
  padding: $base-spacing;
  padding-top: $base-spacing * 2;
  position: relative;
}

.rank {
  @include span-columns(1 of 8);
}

.handle {
  @include span-columns(3 of 8);
  font-weight: bold;
}

.score {
  @include span-columns(2 of 8);
  text-align: right;
}

.permissions {
  @include fill-parent;
  height: 2em;
  left: 0;
  position: absolute;
  top: 0;
}

.permission {
  color: $base-background-color;
  display: inline-block;
  padding: $small-spacing / 4 $small-spacing;

  &-admin {
    background-color: $blue;
  }

  &-pull {
    background-color: $medium-gray;
  }

  &-push {
    background-color: $dark-gray;
  }
}
