<div class="scoreboard">
  <h1><%= @repo.repo_path %></h1>

  <% @repo.contributors.each_with_index do |contributor, index| %>
    <div class="contributor">
      <div class="permissions">
        <% if contributor.push_permissions? %>
          <span class="permission permission-push">Push</span>
        <% end %>

        <% if contributor.admin_permissions? %>
          <span class="permission permission-admin">Admin</span>
        <% end %>
      </div>

      <span class="rank"><%= index + 1 %></span>
      <span class="handle"><%= contributor.handle %></span>
      <span class="score"><%= contributor.score.to_i %></span>
    </div>
  <% end %>
</div>
